<img src="../../assets/banner.png" class="img-fluid" alt="Responsive image">
<div class="container">
  <br>
  <blockquote class="blockquote ">
    <h2>Sección de Reservas.</h2>
    <footer class="blockquote-footer">Has tu reservacion de forma rápida y sensilla en poco segundos <cite title="Source Title">(la belleza a pocos clic's)</cite></footer>
  </blockquote>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="btn-group-vertical">
        <button type="button" [ngClass]="{ btn:true, 'btn-primary':primeraSeccion ,'btn-light':!primeraSeccion}" (click)="activarPrimeraSeccion()">Solicitar una Cita</button>
        <button type="button" [ngClass]="{ btn:true, 'btn-primary':segundaSeccion ,'btn-light':!segundaSeccion}" (click)="activarSegundaSeccion()">Ver Agenda de Citas</button>
        <button type="button" [ngClass]="{ btn:true, 'btn-primary':terceraSeccion ,'btn-light':!terceraSeccion}" (click)="activarTerceraSeccion()">Cancelar una Cita</button>
      </div>
    </div>
      <!--SECCION DE CITAS-->
    <div class="col-10" *ngIf="primeraSeccion">
      <div class="card">
        <div class="card-header text-white bg-primary">
          <h3>Solicitar una cita</h3>
        </div>
        <div class="card-body">
          <p class="card-text">LLena la sigiente información para pedir tu cita</p>
            <div *ngIf="seccionFecha">
                <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <h4>1.- Escoge la Fecha de tu Cita</h4>
                    <br>
                    <ngb-datepicker #d [(ngModel)]="modelDate" (select)="seleccionFecha($event)" #c1="ngModel"></ngb-datepicker>
                    <small id="emailHelp" class="form-text text-muted">{{fechaFormateada}}</small>
                  </div>
                </div>
                <div class="col-6">
                    <div *ngIf="seccionHora">
                      <h4>2.- Escoge el horario de tu cita</h4>
                      <br>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Horario</th>
                                <th scope="col">Hora de Inicio</th>
                                <th scope="col">Hora de Fin</th>
                                <th scope="col">Seleccionar</th>
                            </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let horario of horariosList" >
                                <tr>
                                    <td>{{horario.nombre}}</td>
                                    <td>{{horario.hora_inicio| date:'mediumTime'}}</td>
                                    <td>{{horario.hora_fin| date:'mediumTime'}}</td>
                                    <td>
                                        <input type="checkbox" [id]="horario.nombre" [(ngModel)]="horario.seleccionado" /><label [for]='horario.nombre'>Toggle</label>
                                    </td>
                                </tr>
                              </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
            <div *ngIf="!seccionFecha">
                <br>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-5">
                        <div class="form-group">
                           <p>* Correo Electrónico</p>
                            <input type="text" [(ngModel)]="correoElectronico" class="form-control" placeholder="Correo Electrónico">
                            <small class="form-text text-muted">Correo Electrónico para confirmación.</small>
                        </div>
                        <div class="form-group">
                            <p>Teléfono</p>
                            <input type="text" [(ngModel)]="numeroConvencional" class="form-control" maxlength="10" placeholder="Telf. Convencional">
                            <small class="form-text text-muted">colocar el código de tu provincia: (02)2316-189</small>
                        </div>
                        <div class="form-group">
                            <p>* Celular</p>
                            <input type="text" [(ngModel)]="numeroCelular" maxlength="10" class="form-control" placeholder="Celular">
                            <small class="form-text text-muted">Número de 10 digitos 0987654321</small>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                </div>
                <div class="col-3">
                    <div *ngIf="!seccionFecha">
                        <button type="button" class="btn btn-info" (click)="regresarFecha()">Regresar</button>
                        <button type="button" class="btn btn-success" (click)="RealizarReserva()">Reservar</button>
                    </div>
                    <div *ngIf="seccionFecha">
                        <button type="button" class="btn btn-success" (click)="confirmarFechas()">Continuar</button>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
      </div>
    </div>
      <!--SECCION DE CONSULTA DE CITAS-->
      <div class="col-10" *ngIf="segundaSeccion">
          <div class="card">
              <div class="card-header text-white bg-primary">
                  <h3>Agenda de citas</h3>
              </div>
              <div class="card-body">
                  <p class="card-text">Puedes ver los dias y hora que tienes agendada una cita</p>

              </div>
          </div>
      </div>
  </div>
</div>