<header >
<ngb-carousel>
  <ng-template ngbSlide>
    <img [src]="arrayImagenRutes[0]" class="tamanioCarosel" alt="Random first slide">
    <div class="carousel-caption">
      <button class="btn btn-success btn-lg" (click)="openLg(content)">RESERVA TU CITA</button>
      <h3>Tu Primera Cita es Gratis</h3>
      <p>No Necesitas Gastar Una Fortuna Recibe Nuestros Descuentos</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arrayImagenRutes[1]" class="tamanioCarosel" alt="Random second slide">
    <div class="carousel-caption">
      <button class="btn btn-success btn-lg">RESERVA TU CITA</button>
      <h3>Tu Primera Cita es Gratis</h3>
      <p>No Necesitas Gastar Una Fortuna Recibe Nuestros Descuentos</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arrayImagenRutes[2]" class="tamanioCarosel" alt="Random third slide">
    <div class="carousel-caption">
      <button class="btn btn-success btn-lg">RESERVA TU CITA</button>
      <h3>Tu Primera Cita es Gratis</h3>
      <p>No Necesitas Gastar Una Fortuna Recibe Nuestros Descuentos</p>
    </div>
  </ng-template>
</ngb-carousel>
</header>
<br>
<br>
<div class="container">
<blockquote class="blockquote text-center">
  <p class="mb-0">LA BELLEZA ESTÁ A TU ALCANCE, SOLO DATE TIEMPO PARA SER BELLA.</p>
  <footer class="blockquote-footer">Valantyne Spa <cite title="Source Title">(Cosmetóloga Karla Iza)</cite></footer>
</blockquote>
<br>
<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/chocolaterapia-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/chocolaterapia-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/chocolaterapia-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>

<!--Modal-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div *ngIf="esLogueo">
      <h4 class="modal-title">Ingresar</h4>
    </div>
    <div *ngIf="!esLogueo">
      <h4 class="modal-title">Registrate</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="esLogueo">

      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="objetoLogueo.correo" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Ingresa el correo electrónico con el que te registraste</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="objetoLogueo.contrasenia" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block" (click)="ingresarCorreo()">Ingresar</button>
      <br>
      <p>Ingresa con Redes Sociales</p>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="ingresarRegistrarFacebook()">Facebook</button>
      <br>
      Si aun no tienes Cuenta <a href="#" (click)="activarSeccionRegistro()">Registrate!!</a>

  </div>
    <div *ngIf="!esLogueo">

        <div class="form-group">
          <label for="exampleInputEmail2">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp2" [(ngModel)]="objetoLogueo.correo2" placeholder="Enter email">
          <small id="emailHelp2" class="form-text text-muted">Ingresa tu correo electrónico</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="objetoLogueo.contrasenia2" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Repetir Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword3" [(ngModel)]="objetoLogueo.contrasenia22" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block" (click)="registrarCorreo()">Registrar</button>
        <br>
        <p>Registrarte facíl con redes sociales</p>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="ingresarRegistrarFacebook()">Facebook</button>
        <br>
        <a href="#" (click)="activarSeccionLogueo()">Regresar</a>

    </div>
  </div>
</ng-template>