<header >
<ngb-carousel>
  <ng-template ngbSlide>
    <img [src]="arrayImagenRutes[0]" class="tamanioCarosel" alt="Random first slide">
    <div class="carousel-caption">
      <button class="btn btn-success btn-lg">RESERVA TU CITA</button>
      <h3>Tu Primera Cita es Gratis</h3>
      <p>No Necesitas Gastar Una Fortuna Recibe Nuestros Descuentos</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arrayImagenRutes[1]" class="tamanioCarosel" alt="Random second slide">
    <div class="carousel-caption">
      <button class="btn btn-success btn-lg">RESERVA TU CITA</button>
      <h3>Tu Primera Cita es Gratis</h3>
      <p>No Necesitas Gastar Una Fortuna Recibe Nuestros Descuentos</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arrayImagenRutes[2]" class="tamanioCarosel" alt="Random third slide">
    <div class="carousel-caption">
      <button class="btn btn-success btn-lg">RESERVA TU CITA</button>
      <h3>Tu Primera Cita es Gratis</h3>
      <p>No Necesitas Gastar Una Fortuna Recibe Nuestros Descuentos</p>
    </div>
  </ng-template>
</ngb-carousel>
</header>
<br>
<br>
<div class="container">
<blockquote class="blockquote text-center">
  <p class="mb-0">LA BELLEZA ESTÁ A TU ALCANCE, SOLO DATE TIEMPO PARA SER BELLA.</p>
  <footer class="blockquote-footer">Valantyne Spa <cite title="Source Title">(Cosmetóloga Karla Iza)</cite></footer>
</blockquote>
<br>
<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/chocolaterapia-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/chocolaterapia-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/chocolaterapia-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>